*{box-sizing: border-box;}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    margin:0 auto;
    &__body{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      opacity: 0;
      transform: translateY(50%);
      animation: bodyAnim 1s forwards ease;
      animation-delay: 1.2s;
      -webkit-transform: translate3d(0,0,0);
      will-change: transform;

    }
}

.logo{
    margin-top: -70px;
    width: 232px;
    &__anim{
        animation: logoAnim 2s forwards ease;
        -webkit-transform: translate3d(0,0,0);
        will-change: transform;
      }
      &__anim2{
        animation: logoAnim2 2s forwards ease;
        -webkit-transform: translate3d(0,0,0);
        will-change: transform;
      }
  }
  
  @keyframes logoAnim {
    0%{
      transform: translateY(200px);
      transform: scale(0);
      opacity: 0;
    }
    50%{
      transform: translateY(200px);
      transform: scale(1);
      opacity: 1;
    }
    100%{
      transform: translateY(0);
      transform: scale(0.25);
      opacity: 1;
    }
  }
  @keyframes logoAnim2 {
    0%{
      transform: translateY(200px);
    }
    50%{
      transform: translateY(200px);
    }
    100%{
      transform: translateY(0);
    }
  }
  
  @keyframes bodyAnim {
    0%{
      transform: translateY(50%);
      opacity: 0;
    }
    20%{
      transform: translateY(50%);
      opacity: 0;
    }
    100%{
      transform: translateY(0);
      opacity: 1;
    }
  }